.dyn-nav-container {
	border: 1px solid green;
	top: 15px;
	left: 10px;
	position: relative;
}
.dyn-nav-container .coordinate {
	position: relative;
	background-color: black;
	cursor: pointer;
}
.dyn-nav-container .navs {}
/**/

.dyn-nav-container .navs .navs-item {
	background-color: gray;
	border: 1px solid white;
	position: absolute;
	text-align: center;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.dyn-nav-container .navs .navs-item:hover{
	background-color: #0050EF;
}

.dyn-nav-container .navs .navs-item:active{
	background-color: #640024;
}

.hidden {
	display: none;
}